@pageWidth: 100vw;
@pageHeight: 100vh;

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.logout-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: @pageWidth * 0.15;
  height: @pageHeight * 0.10;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .logout-popup-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ccc;
    border-radius: 10px;

    .logout-popup-header-title {
      margin-left: @pageWidth * 0.02;
    }
  }

  .logout-popup-main {
    justify-content: center;
    align-items: center;
  }

  .logout-popup-footer {
    margin: @pageWidth*0.02 @pageHeight*0.02;

    .logout-popup-footer-cancel {
      background-color: #fff;
      border: 1px solid #000;
      border-radius: 10px;
      margin-right: @pageWidth * 0.02
    }

    .logout-popup-footer-confirm {
      background-color: rgb(37, 133, 235);
      border: 1px solid #000;
      border-radius: 10px;
      color: #fff;
    }
  }
}