.logout-popup {
  margin: 20px 0;
}
.logout-popup .logout-popup-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logout-popup .logout-popup-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
