.mainfilterlistitem-container {
  border: 1px solid #000;
  display: flex;
  flex-direction: row;
  padding: 5px 10px;
  background-color: #fff;
  margin: 20px 0;
}
.mainfilterlistitem-container .mainfilterlistitem-img img {
  width: 200px;
  height: auto;
}
.mainfilterlistitem-container .mainfilterlistitem-courseinfo {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px 0;
}
.mainfilterlistitem-container .mainfilterlistitem-courseinfo .mainfilterlistitem-courseinfo-name {
  font-size: 20px;
  font-weight: bold;
}
.mainfilterlistitem-container .mainfilterlistitem-courseinfo .mainfilterlistitem-courseinfo-intro {
  font-size: 12px;
}
.mainfilterlistitem-container .mainfilterlistitem-coursesold {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mainfilterlistitem-container .mainfilterlistitem-coursesold .mainfilterlistitem-coursesold-price {
  font-size: 40px;
  font-weight: bold;
}
.mainfilterlistitem-container .mainfilterlistitem-coursesold .mainfilterlistitem-coursesold-soldcount {
  font-size: 20px;
  color: red;
}
