.addcoursepage-view {
  background-color: #f5f5f5;
}
.addcoursepage-header {
  border: 1px solid #ccc;
  height: 50px;
  line-height: 50px;
  background-color: #fff;
  align-items: center;
  display: flex;
  padding: 0 20px;
}
.addcoursepage-header .addcoursepage-header-span {
  font-weight: bold;
}
.addcoursepage-header .addcoursepage-header-span:hover {
  cursor: pointer;
  color: #1890ff;
}
.addcoursepage-header .addcoursepage-header-span-mid {
  margin: 0 10px;
}
.addcoursepage-main {
  margin: 20px 0;
}
.addcoursepage-main .addcoursepage-main-content {
  display: flex;
  flex-direction: column;
  border: 1px solid #f5f5f5;
  background-color: #fff;
  margin: 20px 0;
  border-radius: 10px;
}
.addcoursepage-main .addcoursepage-main-content .addcoursepage-main-content-label {
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid #000;
  padding: 10px 10px;
  display: flex;
  flex-direction: row;
}
.addcoursepage-main .addcoursepage-main-content .addcoursepage-main-content-label .datapage-main-middle-single-symbol {
  width: 8px;
  border-radius: 20px;
  background-color: #1890ff;
  margin-right: 5px;
}
.addcoursepage-main .addcoursepage-main-content .addcoursepage-main-content-table {
  padding: 15px 20px;
}
.addcoursepage-main .addcoursepage-main-content .addcoursepage-main-content-form {
  padding: 10px 10px;
  margin-top: 40px;
}
.addcoursepage-main .addcoursepage-main-content .addcoursepage-main-content-form .addcoursepage-main-content-form-single {
  display: flex;
  flex-direction: row;
  margin: 10px 20px;
}
.addcoursepage-main .addcoursepage-main-content .addcoursepage-main-content-form .addcoursepage-main-content-form-single .addcoursepage-main-content-form-single-title {
  margin-right: 20px;
}
.addcoursepage-main .addcoursepage-main-content .addcoursepage-main-content-form .addcoursepage-main-content-form-single .addcoursepage-main-content-form-single-title span {
  color: red;
}
.addcoursepage-main .addcoursepage-main-content .addcoursepage-main-content-form .addcoursepage-main-content-form-single .addcoursepage-main-content-form-single-input span {
  margin: 0 10px;
}
.addcoursepage-main .addcoursepage-dialog-row {
  margin: 20px 40px;
}
.addcoursepage-main .addcoursepage-dialog-row .addcoursepage-dialog-span-require {
  color: red;
}
.addcoursepage-main .addcoursepage-dialog-row .addcoursepage-dialog-span-symbol {
  margin-left: 15px;
}
.addcoursepage-main .addcoursepage-dialog-row .addcoursepage-dialog-span-text {
  margin-right: 20px;
}
.addcoursepage-main .addcoursepage-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.addcoursepage-main .addcoursepage-footer .addcoursepage-footer-btn {
  margin-right: 50px;
}
.addcoursepage-result {
  margin-top: 20px;
  background-color: #fff;
}
.avatar-uploader .el-upload {
  border: 1px dashed var(--el-border-color);
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: var(--el-transition-duration-fast);
}
.avatar-uploader .el-upload:hover {
  border-color: var(--el-color-primary);
}
.el-icon.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  text-align: center;
}
