.coursedetailpage-view {
  height: 100vh;
  background-color: #f5f5f5;
  overflow: hidden;
}

.coursedetailpage-header {
  border: 1px solid #ccc;
  height: 50px;
  line-height: 50px;
  background-color: #fff;
  align-items: center;
  display: flex;
  padding: 0 20px;
  margin: 20px;

  .coursedetailpage-header-title {
    font-weight: bold;

    &:hover {
      color: #1890ff;
      cursor: pointer;
    }
  }

  .addcoursepage-header-span-mid {
    margin: 0 10px;
  }
}

.coursedetailpage-main {
  margin: 20px 15px;
  border: 1px solid #f5f5f5;

  .coursedetailpage-basicinfo {
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 10px;

    .coursedetailpage-basicinfo-title {
      font-size: 20px;
      font-weight: bold;
      border-bottom: 1px solid #000;
      padding: 10px 10px;
      display: flex;
      flex-direction: row;

      .datapage-main-middle-single-symbol {
        width: 8px;
        border-radius: 20px;
        background-color: #1890ff;
        margin-right: 5px;
      }
    }

    .coursedetailpage-basicinfo-content {
      margin-top: 20px;
      padding: 20px;

      .coursedetailpage-basicinfo-content-row {
        display: flex;
        flex-direction: row;

        .coursedetailpage-basicinfo-content-img {
          width: 50%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          margin-bottom: 30px;
        }

        .coursedetailpage-basicinfo-content-info {
          width: 50%;

          .coursedetailpage-basicinfo-content-info-single {
            display: flex;
            flex-direction: row;
            margin-bottom: 30px;

            .coursedetailpage-basicinfo-content-info-single-require {
              color: red;
            }

            .coursedetailpage-basicinfo-content-info-single-label {
              margin-right: 20px;
            }
          }
        }

        .coursedetailpage-basicinfo-content-info-intro {
          width: 50%;
          display: flex;
          flex-direction: row;

          .coursedetailpage-basicinfo-content-info-intro-require {
            color: red;
          }

          .coursedetailpage-basicinfo-content-info-intro-label {
            margin-right: 20px;
          }
        }

        .coursedetailpage-basicinfo-content-mybalance {
          width: 400px;
          height: 120px;
          background-color: #D7D7D7;
          display: flex;
          flex-direction: row;
          border-radius: 15px;
          margin-right: 100px;

          .coursedetailpage-basicinfo-content-display {
            width: 30%;
            margin: 16px 32px;

            .coursedetailpage-basicinfo-content-title {
              font-size: 20px;
              font-weight: bold;
              display: flex;
              justify-content: center;
              align-items: center;
            }

            .coursedetailpage-basicinfo-content-money {
              margin-top: 16px;
              font-size: 40px;
              font-weight: bold;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }

          .coursedetailpage-basicinfo-content-symbol {
            width: 25%;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .coursedetailpage-basicinfo-content-button {
            width: 25%;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }

  .coursedetailpage-catalog {
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 30px;

    .addcoursepage-main-content-table {
      padding: 15px 20px;

      .file-a {
        color: #1890ff;
        cursor: pointer;
        text-decoration: none;

        &:hover {
          color: #0999ff;
        }

        &:active {
          color: #1890ff;
        }
      }
    }

    .coursedetailpage-catalog-title {
      font-size: 20px;
      font-weight: bold;
      border-bottom: 1px solid #000;
      padding: 10px 10px;
      display: flex;
      flex-direction: row;

      .datapage-main-middle-single-symbol {
        width: 8px;
        border-radius: 20px;
        background-color: #1890ff;
        margin-right: 5px;
      }
    }


  }
}

.coursedetailpage-result {
  margin-top: 20px;
  background-color: #fff;
}