.mainpage-main {
  background-color: #ccc;
}
.mainpage-title {
  width: 85vw;
  height: 10vh;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 2vh 7.5vw;
  background-color: #fff;
}
.mainpage-search {
  width: 85vw;
  height: 85vh;
  border: 1px solid #ccc;
  background-color: #fff;
  margin: 2vh 7.5vw;
}
.mainpage-search .mainpage-seleArea {
  width: 85vw;
  height: 25vh;
  border: 1px solid #ccc;
}
.mainpage-search .mainpage-seleArea .mainpage-seleArea-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 8vh;
  width: 85vw;
}
.mainpage-search .mainpage-seleArea .mainpage-seleArea-row .mainpage-seleArea-item-title {
  font-size: 1em;
  margin-right: 1vw;
  border: 1px solid #ccc;
  padding: 1vh 1vw;
}
.mainpage-search .mainpage-seleArea .mainpage-seleArea-row .mainpage-seleArea-row-item {
  width: 15vw;
  height: 8vh;
  border: 1px solid #ccc;
  justify-content: space-around;
  align-items: center;
}
.mainpage-search .mainpage-table-title {
  width: 7.5vw;
  margin: 0 2vw;
  padding: 1vh 2vw;
  border: 1px solid #ccc;
  background: #ccc;
  font-size: 1.5em;
  text-align: center;
  color: orange;
  font-weight: bold;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.mainpage-search .mainpage-table {
  width: 80vw;
  margin: 0 2vw;
  border: 1px solid #ccc;
}
.mainpage-label {
  color: #fff;
  padding: 2px 8px;
  border-radius: 20px;
  margin-left: 4px;
}
.mainpage-label-985 {
  background: red;
  border: 1px solid red;
}
.mainpage-label-211 {
  background: skyblue;
  border: 1px solid skyblue;
}
.mainpage-label-df {
  background: greenyellow;
  border: 1px solid greenyellow;
}
.mainpage-label-qs50 {
  background: purple;
  border: 1px solid purple;
}
.mainpage-label-qs100 {
  background: orange;
  border: 1px solid orange;
}
